{% extends 'master/base.html' %}


{% block body %}
<h1>Expense List</h1>
<br>
<a href="{% url 'add_expense' %}" class="btn btn-success">Add Expense</a>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Sl</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Action</th>
        
      </tr>
    </thead>

    <tbody>
      
      {% for Expense in form_data  %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{Expense.description}}</td>
        <td>{{Expense.amount}}</td>
        <td>{{Expense.datetime}}</td>
        <td>
          <a href="{% url 'update_expense' Expense.id %}" class="btn btn-info">Edit</a>
          <a href="{% url 'delete_expense' Expense.id %}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
        
      {% endfor %}
        
    </tbody>

</table>
    
{% endblock body %}

